<template name="allUrl">
	<div id="table-new-url-container"> 
      <div><h1>New URLs</h1></div>
      	<table class="table table-striped">
      		<thead>
    			<tr>
		      		<th>Short URL</th>
		      		<th>Counter</th>
      			</tr>
  			</thead>
  			<tbody>
	      	{{#each allURL}}
		      	<tr>
		      		<td><a href="{{currentDomain}}{{shorter_url}}">{{currentDomain}}{{shorter_url}}</a></td>
		      		<td>{{counter}}</td>
		        </tr>
	      	{{/each}}
	      </tbody>
      	</table>
    </div>
</template>